@import "tailwindcss";

@theme inline {
  --color-brand-dark: #60042B;
  --color-brand: #9e3a5b;
  --color-brand-light: #c4607f;
  --color-white: #FFFFFF;
  --color-gray-dark: #333333;
  --color-gray-light: #F1F1F1;
  --color-black: #000000;

  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
}

/* Reset & Base */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  color: var(--color-gray-dark);
  background-color: var(--color-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
